@mixin button($clr-bcg, $clr-txt) {
    // display: block;
    display: inline-flex;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    text-decoration: none;
    background-color: $clr-bcg;
    background-position: 0px;
    color: $clr-txt;
    padding: 15px 35px;
    border: none;
    overflow: hidden;

    &:hover {
        color: $clr-beige;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $clr-orange;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        transition: top 0.15s ease-in;
    }

    &:hover::before {
        top: 0;
    }

}

@mixin hr($clr) {
    width: 4.7rem;
    border: $clr 1px solid;
}

@mixin hrMaxWidth($clr) {
    width: 100%;
    border: $clr 1px solid;
}

@mixin hrCenter($clr) {
    width: 4.7rem;
    margin: .5rem auto;
    border: $clr 1px solid;
}



@mixin pseudo-el($display: block, $position: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $position;
    // @include pseudo-el() on ::before & ::after.
}

@mixin link($bgclr, $fontclr, $radius: false) {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
    background-color: $bgclr;
    color: $fontclr;
    transition: color .5s ease;
}