@import 'normalize',
        'reset',
        'variables',
        'mixins';
        

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $clr-beige;
  font-size: 1.6rem;
  line-height: 1.6;
}

title {
  font-family: 'Germania One', cursive;
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.filters{

  &-lateralblock{
    background-color: $clr-green;
    position: absolute;
    width: 100%;
    right: 0;
    top: 9.6rem;
    bottom: 0;
    transform: translateX(100%);
    transition: transform .8s ease;
  }

  &__active{
    .filters-lateralblock{
      transform: translatex(0);
    }
  }

}