@import 'variables',
'mixins',
'reset';

// IMPORT FONTS
// Germania One
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
// PT Sans
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=PT+Sans:wght@400;700&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $clr-beige;
  font-size: 1.6rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-family: 'Germania One', cursive;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}