@import 'variables',
'mixins',
'reset';

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $clr-beige;
  font-size: 1.6rem;
  line-height: 1.6;
}

title {
  font-family: 'Germania One', cursive;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}