@import "../global/variables";

.beerPresentation {
    &_container {
        padding-top: 150px;

        &_img {
            height: 100%;

            figure {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0;
                position: relative;

                @media screen and (max-width: 992px) {
                    margin-bottom: 48px;
                }
            }

            &_brewery {
                position: absolute;
                z-index: -1;
                width: 70%;
                top: 50%;
                left: 50%;
                opacity: .3;
                transform: translate(-50%, -50%);
            }

            &_beer {
                width: auto;
                height: 45rem;
                z-index: 0;
            }
        }

        &_list{
            &container{
                padding: 2.8rem 0;
                border-top: 2px solid $clr-green;
                border-bottom: 2px solid $clr-green;
            }

            & li:not(:last-child){
                margin-bottom: 1.6rem;  
            }

            & h2{
                font-size: 2.4rem;
                font-family: "PT sans", sans-serif;
                font-weight: bold;
                margin-bottom: 1rem;
            }
            
            & p{
                font-size: 1.8rem;
                // opacity: ;

            }


        }
    }

    .beerPresentation_brewery {
        background-color: $clr-green;
        padding: 160px 0;
        margin-top: 150px;
        position: relative;

        // &::after {
        //     position: absolute;
        //     display: block;
        //     content: "";
        //     background-image: url('../../public/img/illus/hop-discover-illu.svg');
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     width: 30rem;
        //     height: auto;
        //     top: -3rem;
        //     left: -5rem;
        //     transform: rotate(20deg);
        //     bottom: 20rem;
        // }

        &_container {
            &_logo {

                figure {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto 4rem;
                    margin-bottom: 40px;
                    width: 66%;
                    height: auto;
                    
                    img {
                        width: auto;
                        height: auto;
                        max-height: 25rem;
                        max-width: 100%;
                    }
                }
            }

            &_text {
                &_btn {
                    padding-top: 20px;
                }
            }
        }

        &_illu {
            position: relative;
            bottom: 0;
            left: -50px;

            &_hop {
                width: 20rem;
                height: auto;
            }

            @media only screen and (min-width: 760px) {
                position: absolute;
                top: 0;
                left: -20px;
            }
        }

        @media screen and (min-width: $lg-bp){

            padding: 88px 0;
            
        }
    }
}