@import "../global/variables";

.beerPresentation {
    &_container {
        padding-top: 150px;

        &_img {
            height: 100%;

            figure {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0;
                position: relative;

                @media screen and (max-width: 992px) {
                    margin-bottom: 48px;
                }
            }

            &_brewery {
                position: absolute;
                z-index: -1;
                width: 70%;
                top: 50%;
                left: 50%;
                opacity: .3;
                transform: translate(-50%, -50%);
            }

            &_beer {
                width: auto;
                height: 45rem;
                z-index: 0;
            }
        }

        &_text {
            &_list {

                ul {
                    margin: 10px 0;
                }

                &_flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                }
            }
        }
    }

    .beerPresentation_brewery {
        background-color: $clr-green;
        padding: 60px 0;
        margin-top: 150px;

        &_container {
            &_logo {

                figure {
                    @media screen and (max-width:992px) {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;
                    }

                    margin: 0;

                    img {
                        width: auto;
                        height: 15rem;
                    }
                }
            }

            &_text {
                &_btn {
                    padding-top: 20px;
                }
            }
        }
    }
}