@import "../global/variables";

.container_grid {
    padding-top: 150px;

    &_illu {
        height: 100%;
        align-items: center;

        figure {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
            position: relative;
        }

        &_blob {
            position: absolute;
            z-index: -1;
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &_beer {
            width: auto;
            height: 47rem;
            z-index: 0;
            transform: rotate(15deg);
        }
    }

    &_content {
        padding-top: 40px;

        h1 {
            color: $clr-grey;
            font-size: 5.6rem;
        }

        &_button {
            margin-top: 50px;
        }
    }
}