// filter.module appelé dans Filter.js

@import "../global/variables";



.filters{
    position: relative;
    
    &_list{
        margin: 6.4rem 0 8.8rem;
        border-bottom: 2px solid $clr-beige;
        
        &_el{
            color: $clr-beige;
            border-top: 2px solid $clr-beige;
            
            & .filter{
                padding: 0 2.2rem;
                margin-top: 3.2rem;
                
                & button{
                    display: flex;
                    position: relative;
                    color: $clr-beige;
                    padding: 2.2rem 0;
                    font-size: 2.2rem;
                    width: 100%;
                    cursor: unset;
                    
                    &::after{
                        position: absolute; 
                        display: block;
                        content: url("/img/icons/chevron-icon.svg");
                        height: 2.4rem;
                        width: 2.4rem;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%) rotate(90deg);
                        transition: all .2s ease;
                    }
                }

                & p{
                    margin-top: 0;
                    margin-bottom: 0;
                    height: 100%;
                    overflow: hidden;
                    transition: all 200ms ease-out; 
                }

                &_boxes{
                    display: flex;
                    flex-flow: row wrap;
                    
                }

                &_box{
                    flex-basis: 25%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1.6rem;
                    
                    // & input{
                    //     margin-right: .8rem;
                    //     height: 1.6rem;
                    //     width: 1.6rem;
                    //     border: 1px solid $clr-green;
                    //     outline: none;
                    //     cursor: pointer;
                    //     color: none;
                    // }

                    [type="checkbox"]:not(:checked),
                    [type="checkbox"]:checked {
                        position: absolute;
                        left: 0;
                        opacity: 0.01;
                    }
                    [type="checkbox"]:not(:checked) + label,
                    [type="checkbox"]:checked + label {
                        position: relative;
                        padding-left: 2.4rem;
                        cursor: pointer;
                    }

                    [type="checkbox"]:not(:checked) + label:before,
                    [type="checkbox"]:checked + label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1.6rem;
                        height: 1.6rem;
                        border: none;
                        background: $clr-beige;
                        border-radius: .2rem;
                        transition: all .4s;
                    }

                    [type="checkbox"]:not(:checked) + label:after,
                    [type="checkbox"]:checked + label:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        height: 1.2rem;
                        width: 1.2rem;
                        border-radius: .2rem;
                        background-color: $clr-orange;
                        left: .8rem;
                        transform: translate(-50%, -50%);
                        transition: all .4s;
                    }

                    [type="checkbox"]:not(:checked) + label:after {
                        opacity: 0;
                        transform: scale(0) rotate(45deg);
                    }
                    // input[type="checkbox"] {
                    //     margin-right: .8rem;
                    //     height: 1.6rem;
                    //     width: 1.6rem;
                    //     border: 1px solid $clr-green;
                    //     box-shadow: unset;
                    //     outline: none;
                    //     cursor: pointer;
                    //     color: none;
                    // }

                    & label{
                        font-size: 1.8rem;
                        text-transform: capitalize;
                    }  
                }

                &_showfilters{

                    & button{
                        &::after{ 
                            transform: translateY(-50%) rotate(-90deg);
                        }
                    }
                    & p{
                        height: 100%;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }        
    }

    &_container{
        box-sizing: content-box;
        position: relative;
        width: 100%;
        flex-grow: 1;

    }

    &_header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding: 0 2.2rem;

        &_resetbtn{
            box-sizing: content-box;
            padding: 2.4rem 0;
            height: 2.4rem;
            display: flex;
            align-items: flex-end;

            & p{
                margin: 0 0 0 1.6rem;
                font-size: 2rem;
                color:$clr-beige;
            }
            
            & svg{
                width: 2.4rem;
                height: 2.4rem;
                
                & path{
                    stroke: white;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }

        &_closebtn{
            box-sizing: content-box;
            padding: 2.4rem 0;
            width: 2.4rem;
            height: 2.4rem;
            
            & svg{
                width: 2.4rem;
                height: 2.4rem;
                
                & path{
                    stroke: white;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }

    }

    &_applybtn{
        position: sticky;
        width: 100%;
        margin: 0 auto;
        bottom: 0;
        font-size: 2rem;
        color: $clr-green;
        padding: 1.6rem 2.4rem;
        border: 2px solid $clr-beige;
        background-color: $clr-beige;
    }
}


@media screen and(min-width: $md-bp){
    .filters{
        &_applybtn{
            position: absolute;
            width: initial;
            margin: 0 auto;
            left: 50%;
            bottom: 2.4rem;
            padding: 1.6rem 2.4rem;
            transform: translateX(-50%)
        }
        &_header{
            padding: 1.5rem 2.2rem;
        }
        &_list{
            &_el{
                & .filter{
                    &_box{
                        flex-basis: 33%;
                    }
                }
            }
        }
    }

  }