@import "../global/variables";

.footer {
    color: $clr-grey;
    margin: 12rem 0 12.2rem 0;
    

    &_container {

        &_logo {
            margin: 0;
            width: 8.2rem;
            display: block;

            @media screen and (min-width: 992px) {
                width: 16.4rem;
            }
            
        }

        &_text {

            p {
                font-size: 1.6rem;
            }

            span {
                p {
                    margin-top: 20px;
                }
            }

        }

        &_navigation {
            a {
                color: $clr-grey;
            }
        }
    }

}

@media screen and (min-width: $lg-bp){
    .footer {
        margin: 36rem 0 3.2rem 0;
    }
}