@import '../global/variables';
@import '../global/mixins';

.header_container {
    align-items: center;
    display: flex;
    padding: 32px 0;
    margin: 0 3.2rem;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    &_left {
        width: 48rem;

        &_logoContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_logo {

                img {
                    width: auto;
                    height: 32px;
                }
            }

            &_link {


                nav {
                    ul {
                        display: flex;
                        justify-content: space-between;
                        width: 27rem;
                    }

                }

            }
        }

    }

    &_search {
        position: absolute;
        left: 0;
        padding: .4rem 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background-color: $clr-beige;
        align-items: center;
        padding: .4rem 0;
        display: flex;
        align-items: center;
        transform: translateX(calc(100% - 24px));
        transition: transform 0.5s ease;

        img {
            width: 2.4rem;
        }

        &_inputcontainer {
            display: flex;
            align-items: center;
            flex-grow: 1;

            form {
                width: 100%;

                input {
                    width: 80%;
                    margin: 0 1.6rem;
                    padding: 0 0 .4rem;
                    font-size: 1.6rem;
                    border: none;
                    border-bottom: 2px solid $clr-green;
                    flex-grow: 1;
                    outline: none;
                    background-color: transparent;
                }
            }
        }

        @media screen and (min-width: $lg-bp) {
            position: relative;
            width: 30rem;
            transform: none;
            background-color: transparent;

            &_inputcontainer {
                form {
                    width: calc(100% - 1.6rem);

                    input {
                        width: calc(100% - 1.6rem);
                        margin: 0 0 0 1.6rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width: $lg-bp) {
        margin: 0 4.8rem;
    }

}

.active {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.none {
    transform: translateX(calc(100% - 24px));
}

.size {
    height: auto;
    width: 20px;
}