// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;


// COLORS
// __________________________________________________________


$clr-light-black: #353C3B;
$clr-pale-brown: #FDFFE6;
$clr-orange: #FEA443;
$clr-green: #0D7A5F;
$clr-success: #5AAA95;
$clr-danger: #A63A50;


