# Activation du module de réécriture d'URL :
RewriteEngine on

# Règles de réécriture d'URL :
RewriteRule ^beer$   ./index.php?page=beer
RewriteRule ^edit/([0-9]+)$   ./index.php?page=beer&id=$1
RewriteRule ^delete/([0-9]+)$   ./index.php?page=beer&operation=delete&id=$1